/* View: Side by Side */
.side-by-side-html{
	font-family: 'Inconsolata', monospace;
	position: absolute;
	top: 2.5rem;
	left: 0;
	width: 50%;
	height: calc(100% - 2.5rem);
}

.side-by-side-js{
	font-family: 'Inconsolata', monospace;
	position: absolute;
	top: 2.5rem;
	left: 0;
	width: 50%;
	height: calc(100% - 2.5rem);
}

.side-by-side-css{
	font-family: 'Inconsolata', monospace;
	position: absolute;
	top: 2.5rem;
	left: 0;
	width: 50%;
	height: calc(100% - 2.5rem);
}

.side-by-side-result-box{
	position: absolute;
	top: 0;
	left: 50%;
	width: calc(50% - 1px);
	height: 100%;
	border-left: 1px solid #555;
	background-color: white;
}
